<!doctype html>
<html>
  <head>
    <title>Have a Nice Day Weather</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://use.fontawesome.com/02863f79d4.js"></script>
    <script src="/axios/axios.js"></script>
    <script src="/chart.js/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/statc/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/statc/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/statc/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/statc/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/statc/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/statc/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/statc/apple-icon-180x180.png">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="/statc/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/statc/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statc/favicon-16x16.png">
    <link rel="manifest" href="/statc/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/statc/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body onload='chartData(), chartDataTP(), chartDataH(), chartDataP()'>
    <!-- NAVIGATION -->
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Have A Nice Day</a>
      </div>
      <div class="collapse navbar-collapse" id ="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class='dropdown'><a class="drop-down-toggle" data-toggle="dropdown" href="#">
            Weather<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href='/'>Current</a></li>
             <li><a href='/forecast'>Outlook Today</a></li>
             <li><a href='/sevenday'>Week Ahead</a></li>
           </ul>
          </li>
          <li><a href="/local">PI Station</a></li>
          <li><a href="/raspberry">Big Cities</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class ="container-fluid bg-1 text-center">
    <h1>PI WEATHER DATA</h1>
    <form method="GET" action="/custom">
      <label>Number of records to view</label><br>
      <input name='custom', value='5' size='5'>
      <button type='submit' class="btn btn-default btn-sm">Request</button>
    </form>
  </div>
  <div class="container-fluid footer chart text-center">
    <canvas id="piWeatherTemperatureH" width="400" height="400"></canvas>
  </div>
  <div class="container-fluid footer chart text-center">
    <canvas id="piWeatherTemperatureP" width="400" height="400"></canvas>
  </div>
  <div class="container-fluid footer chart text-center">
    <canvas id="piWeatherHumidity" width="400" height="400"></canvas>
  </div>
  <div class="container-fluid footer chart text-center">
    <canvas id="piWeatherPressure" width="400" height="400"></canvas>
  </div>
  <div class="container-fluid bg-4">
      <div class="row">
        <div class="col-sm-2"><strong>Temp H</strong></div>
        <div class="col-sm-2"><strong>Temp P</strong></div>
        <div class="col-sm-2"><strong>Humidity</strong></div>
        <div class="col-sm-2"><strong>Pressure</strong></div>
        <div class="col-sm-4"><strong>Date/Time</strong></div>
      </div>
      <div class="row">
        <ul>
          {{#each results}}
           <li>
            <div class="col-sm-2">{{temp_h}}</div>
            <div class="col-sm-2">{{temp_p}}</div>
            <div class="col-sm-2">{{humidity}}</div>
            <div class="col-sm-2">{{pressure}}</div>
            <div class="col-sm-4">{{datetime}}</div>
          </li>
         {{/each}}
        </ul>
      <div>
  </div>
  
   <div class="container-fluid footer bg-2 text-center">
    <form method="GET" action="/local">
      <button type='submit' class="btn btn-default btn-sm">PI Weather</button>
    </form>
    <form method="GET" action="/custom">
      <label>Number of records to view</label><br>
      <input name='custom', value='5' size='5'>
      <button type='submit' class="btn btn-default btn-sm">Request</button>
    </form>
   </div>  
  </div>
  <script>
   function chartData() {
    var ctx = document.getElementById("piWeatherTemperatureH").getContext('2d');
    
    var piWeatherTempertureH = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{{data}}},
        datasets: [{
            label: 'Temperature from Humidity °F',
            data: {{{data}}},
            borderColor: 
              'rgba(211, 25, 25, 1)'
            ,
            backgroundColor: 
              'rgba(248, 248, 248, 1)'
            ,
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
      }
    });
   }
   </script>
   <script>
   function chartDataTP() {
    var ctx = document.getElementById("piWeatherTemperatureP").getContext('2d');
    var piWeatherTemperatureP = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{{dataTP}}},
        datasets: [{
            label: 'Temperature from Pressure °F',
            data: {{{dataTP}}},
            borderColor: 
              'rgba(211, 25, 25, 1)'
            ,
            backgroundColor: 
              'rgba(248, 248, 248,1)'
            ,
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
      }
    });
   }
   </script>
   <script>
   function chartDataH() {
    var ctx = document.getElementById("piWeatherHumidity").getContext('2d');
    var piWeatherHumidity = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{{dataH}}},
        datasets: [{
            label: 'Humidity %',
            data: {{{dataH}}},
            borderColor: 
              'rgb(211, 25, 25)'
            ,
            backgroundColor: 
              'rgb(248, 248, 248)'
            ,
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
      }
    });
   }
   </script>
   <script>
   function chartDataP() {
    var ctx = document.getElementById("piWeatherPressure").getContext('2d');
    var piWeatherPressure = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{{dataP}}},
        datasets: [{
            label: 'Barometric Pressure inHG',
            data: {{{dataP}}},
            borderColor: 
              'rgba(211, 25, 25, 1)'
            ,
            backgroundColor: 
              'rgba(248, 248, 248, 1)'
            ,
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
      }
    });
   }
   </script>
  </body>
</html>  