<!doctype html>
<html>
  <head>
    <title>Have a Nice Day Weather</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="/axios/axios.js"></script>
  </head>
  <body onload='lookup()'>
    <!-- NAVIGATION -->
   <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">HAVE A NICE DAY</a>
      </div>
      <div class="collapse navbar-collapse" id ="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Weather</a></li>
          <li><a href="/forecst">Outlook</a></li>
          <li><a href="/local">PI Weather</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class ="container-fluid bg-1 text-center">
      <h1>PI WEATHER STATION</h1>
      <ul>
        {{#each results}} 
        <li>
          <h2>Klien, Texas</h2><p>Weather Station Home</p>
          <h2>{{temp_h}}</h2><p>Temperature Humidity</p>
          <h2>{{temp_p}}</h2><p>Temperature Pressure</p>
          <h2>{{humidity}}</h2><p>Humidity Percentage</p>
          <h2>{{pressure}}</h2><p>Barometric Pressure</p>
          <h2>{{datetime}}</h2><p>Last Reading</p>
        </li>
        {{/each}}
      </ul>
  </div>
  <div>
    <form method="GET" action="/custom">
      <label>Record Pull</label>
      <input name='custom', value='1'>
      <button type='submit' class="btn btn-default btn-sm">Request</button>
    </form>
  </div>
  </body>
</html>  